{% extends 'dashboard_templates/dashboard_base.html' %}
{% block extra_dashboard_templates_css %}
<style>
    .buttons{
        text-decoration: none;
        background-color: aqua;
        border: 1px solid red;
        border-radius: 8px;
        padding: 3px;
        color: black;
        }
</style>
{% endblock %}
{% block content %}
    <h3 class="text-center">Order list</h3>
    <a href="/super-admin/admin-order-list/" class="buttons">All Orders</a>
    <a href="?status=confirmed" class="buttons">Confirmed Order</a>
    <a href="?status=processing" class="buttons">Processing Order</a>
    <a href="?status=shipping" class="buttons">Shipping Order</a>
    <a href="?status=cancelled" class="buttons">Cancelled Order</a>
    <a href="?status=delivered" class="buttons">delivered Order</a>
    

    <table class="table table-primary table-bordered text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User Name</th>
                <th scope="col">Product Name</th>
                <th scope="col">Image</th>
                <th scope="col">Prize</th>
                <th scope="col">Status</th>
                <th scope="col">Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ order.user.username }}</td>
                    <td>{{ order.grosary.grosary_name }}</td>
                    <td><img src="{{order.grosary.image.url}}" height="40"></td>
                    <td>{{ order.grosary.prize }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.ordered_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
  </table>
{% endblock %}